.menu__item {
    transition: 0.5s ease;
}

.menu__item:hover {
    transform: scale(1.2);
}

.timer {
    filter: blur(5px);
    transition: ease 0.5s;
}

.timer:hover {
    filter: none
}

.footer {
    position: relative;
}


/* технические классы */

.pepper2 {
    position: absolute;
    left: 100px;
    transform: scale(2);
    filter: blur(5px);
}

.pepper2:hover {
    filter: blur(0);
}

.show {
    display: block
}

.hide {
    display: none
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: 0.1;
    }

    to {
        opacity: 1;
    }
}